<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <h>Search Page</h>
	<form action="/search" method="post">
        PaperNameA:<input type="text" name="paperNameA"></br>

        PaperNameLogic:<input type = "text" name ="PaperNameLogic"></br>

        PaperNameB:<input type="text" name="paperNameB"></br>


        AuthorNameA:<input type="text" name="authorNameA"></br>

        AuthorNameLogic:<input type = "text" name ="AuthorNameLogic"></br>

        AuthorNameB:<input type="text" name="authorNameB"></br>


    PaperKeywordA:<input type="text" name="paperKeywordA"></br>

        PaperKeywordLogic:<input type = "text" name ="PaperKeywordLogic"></br>

        PaperKeywordB:<input type="text" name="paperKeywordB"></br>

        PaperTag:<input type="text" name="paperTag"></br>

	<input type="submit" value="Search"></br>
	</form>
</body>
</html>